.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding: 25px 0;
	background-color: white;
	transition: all 0.4s;

	@include breakpoint(max-width 790px) {
		padding: 11px 0;
	}

	&_border {
		border-bottom: 1px solid #ccc;
	}

	&__nav-up {
		top: -100%;
	}

	&__left {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 95px;

		&-img {
			height: 30px;

			@include breakpoint(max-width 790px) {
				height: 20px;
			}
		}

		@include breakpoint(max-width 1140px) {
			margin-right: 50px;
		}
	}

	&__dropdowns {
		display: flex;
		align-items: center;

		@include breakpoint(max-width 790px) {
			display: none;
		}
	}

	&__dropdown-btn {
		display: flex;
		align-items: center;
		margin-right: 50px;
		padding: 0;
		background-color: transparent;
		border: none;

		@include breakpoint(max-width 1140px) {
			margin-right: 30px;
		}

		@include breakpoint(max-width 790px) {
			margin-right: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__dropdown-span {
		margin-right: 10px;
	}

	&__right {
		display: flex;
		align-items: center;

		@include breakpoint(max-width 790px) {
			margin-right: 20px;
			margin-left: auto;
		}
	}

	&__about-block {
		margin-right: 60px;

		@include breakpoint(max-width 1140px) {
			margin-right: 30px;
		}

		@include breakpoint(max-width 790px) {
			display: none;
		}
	}

	&__about-link {
		margin-right: 36px;

		@include breakpoint(max-width 1140px) {
			margin-right: 20px;
		}

		@include breakpoint(max-width 790px) {
			margin-right: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__hamburger {
		position: relative;
		display: none;

		@include breakpoint(max-width 790px) {
			display: block;
			width: 25px;
			height: 25px;
			padding: 0;
			background-color: transparent;
			border: none;
			cursor: pointer;

			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 3;
				display: block;
				width: 20px;
				height: 2px;
				margin: 0 auto;
				background-color: black;
			}

			&:before {
				top: 5px;
			}

			&:after {
				bottom: 7px;
			}
		}

		&_active {
			&:before {
				top: 10px;
				transform: rotate(-45deg);
			}

			&:after {
				bottom: 13px;
				transform: rotate(45deg);
			}
		}
	}

	&__nav-mob {
		position: fixed;
		top: 49px;
		left: 0;
		display: none;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: calc(100vh - 49px);
		background-color: white;

		&_active {
			display: flex;
		}
	}
}