.desc {
	padding-top: 170px;

	@include breakpoint(max-width 1440px) {
		padding-top: 80px;
	}

	@include breakpoint(max-width 750px) {
		padding-top: 0;
	}

	&__head {
		text-align: center;
	}

	p {
		width: 800px;
		margin: 0 auto;
		margin-top: 15px;
		font-size: 24px;
		font-weight: 300;
		line-height: 1.67;
		letter-spacing: -0.1px;

		@include breakpoint(max-width 1440px) {
			width: 650px;
			font-size: 19px;
		}

		@include breakpoint(max-width 750px) {
			width: 100%;
			margin-top: 10px;
			font-size: 14px;
			line-height: 1.86;	
		}
	}

	h1 {
		width: 800px;
		margin: 0 auto;

		@include breakpoint(max-width 1440px) {
			width: 650px;
			margin: 0 auto;
		}

		@include breakpoint(max-width 750px) {
			width: 100%;
		}
	}

	&__tags {
		position: relative;
		margin: 0 -70px;
		padding-top: 65px;
		overflow: hidden;

		&-slider {
			display: flex;
			align-items: flex-start;
			margin: 0 auto;
			margin-top: 40px;
			padding: 0 70px;
			white-space: nowrap;

			@include breakpoint(max-width 1140px) {
				height: 70px;
				padding: 0 20px;
				overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
			}

			@include breakpoint(max-width 750px) {
				margin-top: 25px;
			}

			&-wrap {
				overflow: hidden;
				height: 52px;
				margin-top: 34px;
			}

			&-wrap:nth-child(-n + 2) {
				margin-top: 0;
			}

			&:first-child {
				margin-top: 0;
			}

			div:last-child {
				a {
					margin-right: 0;

					@include breakpoint(max-width 1140px) {
						margin-right: 70px;
					}

					@include breakpoint(max-width 750px) {
						margin-right: 20px;
					}
				}
			}

			div:first-child {
				a {
					@include breakpoint(max-width 1140px) {
						margin-left: 50px;
					}

					@include breakpoint(max-width 750px) {
						margin-left: 0;
					}
				}
			}

			.slick-slide {
				margin-right: 20px;
				&:last-child {
					margin-right: 0;
				}

				@include breakpoint(max-width 750px) {
					margin-right: 10px;
				}
			}

			a {
				display: inline-block;
				margin-right: 20px;
				padding: 7px 15px;
				font-size: 20px;
				font-weight: 300;
				border-radius: 3px;
				border: solid 1px rgba(7, 7, 7, 0.2);
				opacity: 0.8;

				@include breakpoint(max-width 750px) {
					margin-right: 10px;
					padding: 5px 10px;
					font-size: 14px;
				}
			}		
		}

		@include breakpoint(max-width 750px) {
			margin: 0 -20px;
			padding-top: 40px;

		}
	}

	&__gradient {
		position: absolute;
		top: 0;
		z-index: 2;
		width: 70px;
		height: 200px;

		&_left {
			left: 0;
			// gradient hack for safari
			background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.01));
		}

		&_right {
			right: 0;
			// gradient hack for safari
			background-image: linear-gradient(to left, #fff, rgba(255, 255, 255, 0.01));
		}

		@include breakpoint(max-width 1140px) {
			width: 55px;
		}

		@include breakpoint(max-width 750px) {
			width: 20px
		}
	}
}

.main {
	padding-top: 88px;
	overflow: hidden;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: 170px;

		@include breakpoint(max-width 1140px) {
			padding-top: 50px;
		}

		@include breakpoint(max-width 750px) {
			padding-top: 27px;
		}
	}
}

.block {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	font-size: 0;

	@include breakpoint(max-width 1140px) {
		width: calc(50% - 25px) !important;
	}

	@include breakpoint(max-width 750px) {
		width: 100% !important;
	}

	a {
		display: initial;
		width: 100%;

		@include breakpoint(max-width 1440px) {
			display: flex;
		}

		@include breakpoint(max-width 1140px) {
			display: initial;
		}
	}

	div {
		align-self: flex-start;
		width: 100%;
		padding-top: 3px;
		box-sizing: border-box;

		@include breakpoint(max-width 1440px) {
			padding-top: 7px;
		}
	}
	
	img {
		width: 100%;

		@include breakpoint(max-width 1440px) {
			height: 100%;
		}

		@include breakpoint(max-width 1140px) {
			height: auto;
		}
	}

	&_adaptive {
		@include breakpoint(max-width 1140px) {
			margin-top: 50px;
		}
		
		@include breakpoint(max-width 750px) {
			margin-right: 0;
		}
	}

	&_biggest {
		width: 100% !important;
		margin-top: 50px;

		@include breakpoint(max-width 750px) {
			margin: 0 auto;
			margin-top: 50px;
		}

		img {
			width: 100%;
		}

		div {
			position: absolute;
			bottom: 40px;
			left: 40px;

			@include breakpoint(max-width 750px) {
				position: static;
			}
		}

		h2 {
			a {
				line-height: 1.31;
			}
		}
	}

	&_big {
		height: 100%;

		@include breakpoint(max-width 1140px) {
			height: auto;
		}

		&>a {
			@include breakpoint(max-width 1440px) {
				height: 100%;
			}
		}
		
		img {
			object-fit: cover;

			@include breakpoint(max-width 1440px) {
				height: 100%;
			}

			@include breakpoint(max-width 1140px) {
				height: auto;
			}
		}

		&.case-block__l {
			img {
				height: auto;

				@include breakpoint(max-width 1440px) {
					height: 100%;
				}
			}

			div {
				@include breakpoint(max-width 1440px) {
					padding-top: 7px;
				}
			}
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&>.block:nth-child(n + 2),
    figure:nth-child(n + 2) {
			margin-top: 50px;
		}

    &_case {
      @include breakpoint(max-width 1140px) {
        flex-direction: row;
      }

      figure {
        @include breakpoint(max-width 1140px) {
          width: calc(50% - 25px);
          margin-top: 0;
          margin-right: 50px;

          &:nth-child(2n) {
            margin-top: 0;
						margin-right: 0;
          }

					&:nth-child(n+3) {
						margin-top: 50px;
					}
        }

        @include breakpoint(max-width 750px) {
          width: 100%;
          margin-right: 0;

          &:nth-child(n + 2) {
            margin-top: 30px;
          }
        }
      }
    }

		&_project {
			flex-direction: row;
			align-items: flex-start;
			flex-wrap: wrap;

			.text-block {
				align-self: stretch;
				margin-top: auto;

				@include breakpoint(max-width 1440px) {
					height: auto;

					h2 {
						font-size: 120px !important;
					}
				}

        @include breakpoint(max-width 1140px) {
          margin-top: 50px;
        }
			}

			&>.block:nth-child(n + 2) {
				margin-top: 69px;

				@include breakpoint(max-width 1440px) {
					margin-top: auto;
				}

				@include breakpoint(max-width 1140px) {
					margin-top: 50px;
				}
			}


		}

		@include breakpoint(max-width 1140px) {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}
	}

	h2 {
    margin-top: 0;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.9;

		a {
			display: block;
			width: 100%;
			color: black;
			@include linkHover(black);
		}
	}

	p {
		margin-top: 0;
		font-size: 14px;
		font-weight: 300;
		line-height: 1;

		a {
			display: block;
			width: 100%;
			color: black;
			@include linkHover(black);
		}
	}
}

.biggest__title {
	h2 {
		font-size: 32px;
		font-weight: 500;
		line-height: 1.31;

		&>a span {
			color: white;
			@include linkHover(white);

			@include breakpoint(max-width 750px) {
				font-size: 18px;
				color: black;
				@include linkHover(black);
			}
		}
	}

	p {
		font-size: 18px;
		font-weight: 300;
		line-height: normal;
		color: white;

		a {
			color: white;
			@include linkHover(white);

			@include breakpoint(max-width 750px) {
				font-size: 14px;
				color: black;
				@include linkHover(black);
			}
		}
	}
}

.text-block {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	max-width: 400px;
	height: 280px;
	padding: 30px;
	color: white;
	box-sizing: border-box;
	overflow: hidden;

	&_green {
		background-color: #128972;
	}

	&_yellow {
		background-color: #d7d326;
	}

	&_blue {
		background-color: #180c7b;
	}

	&_purple {
		background-color: #654c94;
	}

	&_pink {
		background-color: #ff2e9c;
	}

	&>div {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;

		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	h2 {
		position: relative;
		z-index: 1;
		margin: 0;
		font-family: 'DomaineSansDisplay', serif;
		font-weight: 300;
		line-height: 1;

		a {
			color: white;
		}
	}

	&_italic h2 {
		font-style: italic;
	}

	p {
		position: relative;
		z-index: 1;
		margin: 0;
		font-weight: 300;
		letter-spacing: -0.1px;
		overflow: hidden;

		a {
			color: white;
		}
	}

	&_black-text {
		h2 a, p a, h3 a, a {
			color: black;
		}
	}

	@include breakpoint(max-width 1140px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: calc(50% - 25px);
		max-width: 475px;
		min-width: inherit;
		min-height: inherit;
	}

	@include breakpoint(max-width 750px) {
		min-width: 280px;
		width: 100%;
		max-width: 100%;
	}
}

.slick-initialized div {
	display: flex !important;
	align-items: center;

	@include breakpoint(max-width 1440px) {
		height: 60px;
	}
}

.slick-list.draggable {
	@include breakpoint(max-width 1440px) {
		padding: 0 70px;
	}

	@include breakpoint(max-width 750px) {
		padding: 0 20px;
	}
}

blockquote {
  margin: 0;
  padding: 0;
}
blockquote p {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.38;
}
.author {
  font-size: 19px;
  font-weight: 300;
  position: relative;
  height: 50px;
  padding-top: 20px;
  padding-left: 60px;
}

p.author::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}

@media (max-width:750px) {
  .text-block .author {
    font-size: 14px
  }
}

.text__sm p,
p {
	margin-top: 10px;
	font-size: 19px;
	line-height: 1.68;

	&:first-child {
		margin-top: 0;
	}

	@include breakpoint(max-width 750px) {
		font-size: 14px;
		line-height: 1.71;
	}
}