
.active-item {
	opacity: 0.5;
}

.author-cards {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: calc((100% - 100px) / 3);
  margin-right: 50px;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
	box-sizing: border-box;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(n + 4) {
    margin-top: 50px;
  }

  @include breakpoint(max-width 1140px) {
    width: calc(50% - 25px);
    margin-top: 50px;

    &:nth-child(3n) {
      margin-right: auto;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include breakpoint(max-width 750px) {
    width: 100%;
    margin-right: 0;
  }
	
	&>a {
		width: 100px !important;
		height: 100px !important;
		margin-right: 30px;
		border-radius: 50%;
		overflow: hidden;
	}

	img {
		width: 100px !important;
		height: 100px !important;
	}

	.author-name {
		font-size: 22px;
		font-weight: 500;
		line-height: 1.09;
	}

	.author-post {
		margin-top: 10px;
		font-size: 15px;
		line-height: 1.33;
	}

	.author-info {
		align-self: center;
		width: calc(100% - 130px);
	}
}

