.full-width__img {
	width: 100%;
}

.main-big {
	margin-top: 50px;

	img {
		width: 100%;
	}
}

.xs__img,
.sm__img,
.m__img,
.l__img,
.xl__img {
	img {
		width: 100%;
	}
}

.main__nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
	font-size: 19px;

	a {
		margin-top: 20px;
		line-height: 1.68;
		opacity: 0.5;

		&:first-child {
			margin-top: 0;
		}

		&:hover {
			@include textShadow(white);
			@include smallUnderlineCase(white, black);
			opacity: 1;
		}

		@include breakpoint(max-width 1140px) {
			margin-top: 0;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	*:not(a) {
		margin-top: 20px;
		line-height: 1.68;

		&:first-child {
			margin-top: 0;
		}

		@include breakpoint(max-width 1140px) {
			margin-top: 0;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	@include breakpoint(max-width 1140px) {
		flex-direction: row;
		height: 45px;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		margin-top: 0;
		padding-bottom: 5px;

		&-wrapper {
			height: 27px;
			overflow: hidden;
		}
	}
}

