.desc {
	padding-top: 170px;
	padding-bottom: 170px;

	@include breakpoint(max-width 1440px) {
		padding-top: 80px;
		padding-bottom: 50px;
	}

	@include breakpoint(max-width 790px) {
		padding-top: 40px;
		padding-bottom: 10px;
	}

	&__head {
		text-align: center;
	}

	&__short {
		width: 800px;
		margin: 0 auto;
		margin-top: 15px;
		font-size: 24px;
		font-weight: 300;
		line-height: 1.67;
		letter-spacing: -0.1px;

		@include breakpoint(max-width 1440px) {
			width: 650px;
			font-size: 19px;
		}

		@include breakpoint(max-width 790px) {
			width: 100%;
			margin-top: 10px;
			font-size: 14px;
			line-height: 1.86;	
		}
	}

	&__tags {
		position: relative;
		padding-top: 65px;

		&-slider {
			display: flex;
			margin: 0 auto;
			margin-top: 40px;

			@include breakpoint(max-width 1440px) {
				display: block;
				width: 100%;
				padding: 0 70px;
			}

			@include breakpoint(max-width 790px) {
				margin-top: 25px;
				padding: 0 20px;
			}

			&:first-child {
				margin-top: 0;
			}			
		}

		@include breakpoint(max-width 790px) {
			margin-top: 40px;
			padding: 0;
		}
	}

	&__tag {
		margin-right: 20px;
		padding: 7px 15px;
		font-size: 20px;
		font-weight: 300;
		border-radius: 3px;
		border: solid 1px rgba(7, 7, 7, 0.2);
		opacity: 0.8;

		&:hover {
			color: white;
			background-color: black;
			opacity: 1;
		}

		@include breakpoint(max-width 790px) {
			margin-right: 10px;
			padding: 5px 10px;
			font-size: 14px;
		}
	}

	&__gradient {
		position: absolute;
		top: 0;
		right: 0;
		width: 180px;
		height: 200px;
		background-image: linear-gradient(to left, #fff, transparent);

		@include breakpoint(max-width 790px) {
			width: 80px
		}
	}
}

.main {
	padding-top: 88px;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__grid-first,
	&__grid-second {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 342px 342px 300px 342px 342px 342px 300px;
		grid-gap: 50px;
		margin-top: 50px;

		@include breakpoint(max-width 1140px) {
			display: flex;
			flex-wrap: wrap;
			margin-top: 0;
		}
	}

	&__grid-second {
		grid-template-rows: 300px 342px 342px 300px;
	}

	&__title {
		font-size: 40px;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: -0.2px;

		@include breakpoint(max-width 1440px) {
			font-size: 32px;
			line-height: 1.88;
		}

		@include breakpoint(max-width 790px) {
			font-size: 24px;
			line-height: 1.42;
			letter-spacing: -0.1px;
		}
	}
}

.block {
	position: relative;
	width: 100%;

	@include breakpoint(max-width 790px) {
		width: 100%;
	}
	
	&_a {
		grid-column: 1 / span 1;
		grid-row: 1 / span 1;
	}

	&_b {
		grid-column: 1 / span 1;
		grid-row: 2 / span 1;
	}

	&_c {
		grid-column: 2 / span 2;
		grid-row: 1 / span 2;
	}

	&_d {
		grid-column: 1 / span 2;
		grid-row: 4 / span 2;
	}

	&_e {
		grid-column: 1 / span 1;
		grid-row: 2 / span 1;
	}

	&_f {
		grid-column: 1 / span 1;
		grid-row: 3 / span 1;
	}

	&_g {
		grid-column: 2 / span 2;
		grid-row: 2 / span 2;
	}

	&_biggest {
		margin-top: 50px;
	}

	&_adaptive {
		@include breakpoint(max-width 1140px) {
			width: calc(50% - 25px);
			margin-top: 50px;
			margin-right: 50px;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		
		@include breakpoint(max-width 790px) {
			width: 100%;
			margin-right: 0;
		}
	}

	&__container {
		&>.block:nth-child(2) {
			margin-top: 65px;

			@include breakpoint(max-width 1140px) {
				margin-top: 50px;
			}
		}

		@include breakpoint(max-width 1140px) {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}
	}

	&__img {
		width: 100%;
		height: 280px;
		object-fit: cover;

		&_big {
			height: 670px;

			@include breakpoint(max-width 1140px) {
				height: 280px;
			}
		}

		&_biggest {
			height: 600px;

			@include breakpoint(max-width 1140px) {
				height: 390px;
			}
		}

		@include breakpoint(max-width 790px) {
			height: auto;
		}

	}

	&__title {
		font-size: 20px;
		font-weight: 500;
		line-height: 1.9;

		&-link {
			display: block;
			width: 100%;
			color: black;
			@include linkHover(black);
		}
	}

	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 1;

		&-link {
			display: block;
			width: 100%;
			color: black;
			@include linkHover(black);
		}
	}

	&__desc {
		&_biggest {
			position: absolute;
			bottom: 40px;
			left: 40px;

			@include breakpoint(max-width 790px) {
				position: static;
			}
		}
	}
}

.biggest {
	&__title {
		font-size: 32px;
		font-weight: 500;

		&-link {
			color: white;
			@include linkHover(white);

			@include breakpoint(max-width 790px) {
				color: black;
				@include linkHover(black);
			}
		}
	}

	&__text {
		font-size: 18px;
		font-weight: 300;
		color: white;

		&-link {
			color: white;
			@include linkHover(white);

			@include breakpoint(max-width 790px) {
				color: black;
				@include linkHover(black);
			}
		}
	}
}

.text-block {
	position: relative;
	display: block;
	height: 300px;
	padding: 30px;
	color: white;
	box-sizing: border-box;
	overflow: hidden;

	&_a {
		grid-column: 1 / span 3;
		grid-row: 3 / span 1;
	}

	&_b {
		grid-column: 1 / span 2;
		grid-row: 7 / span 1;
	}

	&_c {
		grid-column: 3 / span 1;
		grid-row: 7 / span 1;
	}

	&_d {
		grid-column: 1 / span 3;
		grid-row: 1 /span 2;
	}

	&_e {
		grid-column: 1 /span 1;
		grid-row: 4 / span 1;
	}

	&_f {
		grid-column: 2 / span 2;
		grid-row: 4 / span 1;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;

		&-link {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&_small {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&_big {
		padding: 40px 50px;
	}

	&_biggest {
		padding: 40px 50px;
	}

	&_with-title h3 {
		display: inline-block;
		margin-top: 15px;
	}

	&__desc {
		position: relative;
		margin: 0;

		&_biggest {
			max-width: 960px;
			overflow: hidden;
		}

		&_quote {
			@include breakpoint(max-width 1140px) {
				top: -60px;
			}
		}
	}

	&__inner-link {
		color: white;
	}

	&__sign {
		position: relative;
		top: -35px;
		z-index: 1;
		float: left;
		margin-right: 75px;
		font-family: 'DomaineSansDisplay', serif;
		font-size: 160px;
		font-weight: 300;
		line-height: 1;

		&_small {
			top: 0;
			margin-right: 0;
		}

		&_big {
			font-size: 300px;
		}

		&_quote {
			position: relative;
			top: -100px;
			font-size: 340px;
		}

		&_black {
			color: black;
		}

		&_italic {
			font-style: italic;
		}

		@include breakpoint(max-width 1140px) {
			top: 0;
			margin-right: 0;
			font-size: 160px;

			&_quote {
				top: -50px;
			}
		}

		@include breakpoint(max-width 790px) {
			font-size: 100px;
		}
	}

	&__link {
		display: inline-block;
		margin-top: 15px;
		font-size: 19px;
		font-weight: 300;
		line-height: 1.67;
		letter-spacing: -0.1px;
		color: white;
		opacity: 0.5;
		background-size: 1px 1em;

		@include breakpoint(max-width 1140px) {
			display: none;
		}

		&_big {
			font-size: 24px;
		}

		&_green {
			@include textShadow(#128972);
			@include underline(#128972, white);
		}

		&_black-yellow {
			color: black;
			@include textShadow(#d7d326);
			@include underline(#d7d326, black);

			&:hover, &:active, &:focus {
				color: black;
			}
		}

		&_blue {
			@include textShadow(#180c7b);
			@include smallUnderline(#180c7b, white);
		}

		&_purple {
			@include textShadow(#654c94);
			@include underline(#654c94, white);
		}

		&_pink {
			@include textShadow(#ff2e9c);
			@include smallUnderline(#ff2e9c, white);
		}
	}

	h3 {
		position: relative;
		z-index: 1;
		font-size: 46px;
		font-weight: 500;
		line-height: 1.3;
		letter-spacing: -0.3px;

		@include breakpoint(max-width 1140px) {
			display: none;
		}
	}

	&__text {
		position: relative;
		z-index: 1;
		max-height: 64px;
		margin-top: 5px;
		font-size: 19px;
		font-weight: 300;
		line-height: 1.67;
		letter-spacing: -0.1px;
		overflow: hidden;

		&_big {
			margin-top: 40px;
			max-height: 120px;
			font-size: 24px;
		}

		&_biggest {
			max-height: 144px;
			font-size: 32px;
			line-height: 1.5;
			letter-spacing: -0.2px;
		}

		&_black {
			color: black;
		}

		@include breakpoint(max-width 1140px) {
			max-height: 64px;
			margin-top: 0;
			font-size: 19px;
		}

		@include breakpoint(max-width 790px) {
			max-height: 44px;
			font-size: 14px;
			line-height: 1.57;
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		margin-top: 15px;
		font-style: normal;
	}

	&__author-img {
		width: 50px;
		height: 50px;
		margin-right: 10px;
		border-radius: 50%;
	}

	&__author {
		position: relative;
		padding-left: 60px;
		font-size: 19px;
		font-weight: 300;
		line-height: 1.67;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			display: block;
			width: 50px;
			height: 50px;
			background-image: url('../img/main/seo.jpg');
			background-size: cover;
			border-radius: 50%;
		}

		@include breakpoint(max-width 790px) {
			font-size: 14px;
		}
	}

	@include breakpoint(max-width 1140px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: calc(50% - 25px);
		height: 280px;
		padding: 30px;
	}

	@include breakpoint(max-width 790px) {
		width: 100%;
		height: 200px;
	}
}

/* background for text blocks */
.bg {
	&_green {
		background-color: #128972;
	}

	&_yellow {
		background-color: #d7d326;
	}

	&_blue {
		background-color: #180c7b;
	}

	&_purple {
		background-color: #654c94;
	}

	&_pink {
		background-color: #ff2e9c;
	}
}

.slick-initialized .desc__tags-slide {
	display: flex;
	align-items: center;

	@include breakpoint(max-width 1440px) {
		height: 60px;
	}
}